{%extends 'core/base.html'%}

{% block background %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block title %}
    <title>Portfolio | Personal Letter</title>
{% endblock title %}

{% block header %}
    <h1>Portfolio</h1>
    <span class="subheading">CV</span>
{% endblock header %}

{% block content %}
{% for elem in portfolio %}

    <!-- Proyecto(s) -->
    <div class="row project">  	
    <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{{elem.image.url}}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading title">{{elem.title}}</h2>   
        <p>{{elem.description}}</p>
        {% if elem.link %} <!-- this checks if exists a value by default -->
            <p><a href="{{elem.link}}">More information</a></p>
        {% endif %}
    </div>
    </div>

{% endfor %}
{% endblock content %}