{%extends 'core/base.html'%}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block title %}
    <title>About | Personal Letter</title>
{% endblock title %}

{% block header %}
    <h1>About</h1>
    <span class="subheading">Biography</span>
{% endblock header %}

{% block content %}
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Edison Santana</h2>   
        <p>Born in the Dominican Republic... I have been working as a developer, data analyst, and business consultant in different fields.</p>
        <p>My goal is to serve my clients with the highest standard of service not just through IT implementations but also as a BDC advisor.</p>
    </div>
{% endblock content %}