{%extends 'core/base.html'%}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block title %}
    <title>Contact| Personal Letter</title>
{% endblock title %}

{% block header %}
    <h1>Contact</h1>
    <span class="subheading">Web development</span>
{% endblock header %}

{% block content %}
    <div class="row">  
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>We are what we repeatedly do; quality indeed is not a habit but an act.</p>
        <p>Let me know what you need and I'll use all the tools in my disposition to serve you with the best quality.</p>
        <br>
        <p><b>Phone:</b> (809)925-6007</p>
        <p><b>Email:</b> santana001924@gmail.com</p>
        <p><b>Regular schedule:</b> from 6:00 PM to 11:00 PM EST</p>
    </div>
    </div>
{% endblock content %}