{%extends 'core/base.html'%}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block title %}
    <title>Portafolio | my web personal</title>
{% endblock title %}

{% block header %}
    <h1>Edison Santana</h1>
    <span class="subheading">Python developer | Data Analyst</span>
{% endblock header %}

{% block content %}
<h1>Mi portafolio</h1>

<h2>projectos realizados</h2>

<p>he realizado projectos en el backend conectando bases de datos de diferentes fuentes, ETL, analisis de datos y paginas web en python</p>
{% endblock content %}